

.card-holder {
    min-height: calc(100vh - 65rem);
}

.gameSpace{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardWContent{
    align-content: center;
    font-family: 'Gaegu', cursive;
    font-size: 7vmin;
    text-align: center;
    width: 70vmin;
    aspect-ratio: 5/7;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .cardWContent > p {
    color: hsl(360, 67%, 44%);
    margin-top: 35vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }  